# EDA On Dataset

## Part 1 : Import libraries

In [27]:
import pandas as pd
import csv

## Part 2 : Read CSV Data

In [28]:
fakeDF = pd.read_csv('WELFake_Dataset.csv', names = ['id','title','text','label'], skiprows=1)
fakeDF.head()

,id,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

## Part 3 : Remove null values

### Before Removal:

In [29]:
fakeDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      72134 non-null  int64
 1   title   71576 non-null  object
 2   text    72095 non-null  object
 3   label   72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

### After Removal:

In [30]:
fakeDF = fakeDF.dropna()
fakeDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71537 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      71537 non-null  int64
 1   title   71537 non-null  object
 2   text    71537 non-null  object
 3   label   71537 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.7+ MB

## Part 4 : Dropping irrelevant column

In [31]:
fakeDF = fakeDF.drop('id', axis=1)
fakeDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71537 entries, 0 to 72133
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   71537 non-null  object
 1   text    71537 non-null  object
 2   label   71537 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.2+ MB